body {
  font-family: sans-serif;
}

.container {
  width: 500px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

form {
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
}

button {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.links {
  list-style: none;
  margin: 0;
  padding: 0;
}

.links li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
