.list {
  list-style: none;
  padding: 0;
  width: 50%;
  border: 1rem solid #219e13;
  color: white;
}

.active.list-item {
  background-color: #4e1f62;
}

.list-item {
  background-color: #0f70d1;
  padding: 10px;
  margin-bottom: 1px;
  cursor: move;
}
